.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
  font-size: 80%;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
}
